table, th, td 
{
  border: solid 1px #FF5B5B;
  width: 100%;
  border-collapse: collapse;
  padding: 2px 3px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
th { 
  font-weight:bold;
}
th, td {
  padding: 10px;
  text-align: left;
  font-size: 20px;
}